:root {
    --primary-color: #3498db; /* Azul claro */
    --secondary-color: #2c3e50; /* Azul escuro */
    --background-color: #f9f9f9; /* Fundo cinza claro */
    --text-color: #333;
    --button-color: #3498db;
    --button-hover-color: #2980b9;
    --form-background-color: #fff;
    --form-border-color: #ddd;
}

body {
    padding-top: var(--top-bar-height);
    background-color: var(--background-color);
    margin: 0;
    font-family: 'Arial', sans-serif;
}

.contact-page {

    padding: 20px;
    max-width: 1200px;
    margin: 0 auto;
}

.contact-info {
    text-align: center;
    padding: 40px 20px;
    background-color: var(--form-background-color);
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    margin-bottom: 20px;
}

.contact-info h1 {
    font-size: 32px;
    color: var(--secondary-color);
    margin-bottom: 10px;
}

.contact-info p {
    font-size: 16px;
    color: var(--text-color);
    margin-bottom: 20px;
}

.contact-details {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
}

.contact-detail {
    flex: 1;
    max-width: 300px;
    text-align: center;
}

.contact-detail h2 {
    font-size: 20px;
    color: var(--secondary-color);
    margin-bottom: 5px;
}

.contact-detail p {
    font-size: 14px;
    color: var(--text-color);
}

.cta-button {
    background-color: var(--button-color);
    color: #fff;
    padding: 12px 20px;
    border-radius: 5px;
    border: none;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    margin-top: 20px;
}

.cta-button:hover {
    background-color: var(--button-hover-color);
}

.contact-form {
    padding: 20px;
    background-color: var(--form-background-color);
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.contact-form h2 {
    font-size: 24px;
    color: var(--secondary-color);
    margin-bottom: 20px;
    text-align: center;
}

.contact-form form {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.contact-form label {
    display: flex;
    flex-direction: column;
    font-size: 14px;
    color: var(--text-color);
}

.contact-form input,
.contact-form textarea {
    padding: 10px;
    font-size: 14px;
    border: 1px solid var(--form-border-color);
    border-radius: 4px;
    transition: border-color 0.3s ease;
}

.contact-form input:focus,
.contact-form textarea:focus {
    border-color: var(--primary-color);
    outline: none;
}

.contact-form button {
    background-color: var(--button-color);
    color: #fff;
    padding: 12px;
    border-radius: 5px;
    border: none;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    align-self: center;
}

.contact-form button:hover {
    background-color: var(--button-hover-color);
}
